/* custom styles */
body{
margin: 0;

}
button{
	border-radius: 20px;

}
nav{
	text-decoration: none;
	display: inline-block;
	padding: 40px 0 0 0;
}
.ironMan{
	max-height: 700px;
	max-width: 700px;
	display: block;
	margin: 0 auto;
}
.myWork{
	text-align: left;
}
.contactMe{
	text-align: center;
	display: block;
}
.logo{
	height: 50px;
	width: 50px; 
	display: inline;
	margin: 0 0 0 -220px;
	
}
.myName{
	text-align: center;
	display: inline-block;
	padding-left: 880px;
}
header{
	background-color: salmon;
	border-radius: 20px;
}
footer{
	background-color: grey;
	min-height: 15 	0px;
}

